@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
}

.container_oferta{
	width: 1200px;
  	margin: auto;
}
.tod_home{
    background-image: url(../img/fundo.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    width: 100%;
    height: 298px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;   
}
.banner_home{
    width: 100%;   
}
.frase_dicas{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 50px;
    padding: 8px;
}
.botao_dicas{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: white;
    border: solid 2px;
    border-radius: 9px;
    cursor: pointer;
    text-decoration: none;
    margin-top:5px;
    padding: 2px;
    align-items: center;
}
.img_frase{
    align-items: center;
    width: 500px;
}
.oferte{
    font-family: 'Dosis', sans-serif;
    font-size: 45px;
    font-weight: bold;
    border-bottom: 5px solid #BC3908;
    width: 400px;
    margin: auto;
    text-align: center;
    margin-top: 100px; 
}
.conteudo{
    display: flex;
	align-content: center;
    flex-wrap: wrap;
    margin-top:50px;
	margin-bottom: 50px;
}
.img_home{
    margin-top: 15px;   
}
.alimentos{
    margin: auto;
    margin-bottom: 100px;
    width: 220px;
    margin-top: 10px;
	background-color: white;
}
.alimentos:hover{
    border: 3px solid;
    border-bottom-color: #BC3908;
    border-right-color: #BC3908;  
    border-left-color: #f2f2f2;
    border-top-color: #f2f2f2;
}
.descricao{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
	text-align: center;
}
.vermelho{
    color: #941B0C;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
}
.tod_informativo{
    display: flex;
    width: 1200px;    
    margin-bottom: 100px;
}
.dica_informativa{
    margin-bottom: 10px;
    height: 400px;
    width: 550px;     
}
.dica_informativa:hover{
    border: 3px solid;
    border-bottom-color: #DAA520;
    border-right-color: #DAA520;  
    border-left-color: #f2f2f2;
    border-top-color: #f2f2f2;
}
.informativo{
    font-family: 'Dosis', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding-top: 3px;
    border-bottom: 3px solid #DAA520;
    width: 545px; 
}
.dica_informativa2{
    margin-bottom: 10px;
    margin-left: 60px;
    height: 400px;
    width: 550px;     
}
.informativo2{
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 3px;
    border-bottom: 3px solid #941B0C ;
    width: 545px; 
}
.dica_informativa2:hover{
    border: 3px solid;
    border-bottom-color: #941B0C;
    border-right-color: #941B0C;  
    border-left-color: #f2f2f2;
    border-top-color: #f2f2f2;
}
.global_informativa{
    margin-top: 15px;   
}
.caixa_informativa {
    display: flex;  
    width: 550px;
}
.img_informativa{  
    width: 80px;   
    padding-left: 70px;    
}
.frase_informativa{
    font-size: 20px;  
    margin-left: 20px;
    padding: 20px; 
    font-family: 'Roboto', sans-serif;   
}
.destaque{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.logo_destaque{
    position: relative; 
    left: 350px;
    bottom:200px; 
    width: 550px;      
}
.frase_destaque{
    position: relative; 
    left: 220px;
    bottom:200px; 
    font-size: 60px;
    font-family: 'Dosis', sans-serif;
    color: #FFFFFF;
}
.espaco_comentario{
    width: 1200px; 
    margin-bottom: 100px;   
}
.titulo_comentario{
    margin-top: 100px;      
}
.frase_comentario{
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    border-bottom: 5px solid #BC3908;
    width: 800px;
    margin: auto; 
    margin-bottom: 50px;
}
.tod_comentario{
    display: flex;  
}
.img_comentario{
    margin-top: 50px;
}
.comentario{
    font-family: 'Roboto', sans-serif;
    color: #9B9595;
    padding-left: 30px;
    margin-top: 30px;
}
.comentario1{
    font-family: 'Roboto', sans-serif;
    color: #9B9595;
    padding-left: 30px;
    margin-top: 54px;
}
.adm{
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #000000;    
}
.comenta{
    padding-top: 5px;
}


/* tablete*/
@media (max-width:1169px){
	.banner_home{
   		 width: 1169px; 
		height: 300px;
			
	}
	.container_oferta{
		width: 1169px;
		background-color: white;
		
    }
    .frase_dicas{
		font-size: 60px;
    }
    .img_frase{
        width: 600px;
        text-align: center;
    }
	.oferte{
   		margin-left: 25%;
			
	}
	.conteudo{
		width: 1000px;
		align-content: center;
		display: flex;
	}
	.informativo{
		font-size: 50px;
		width: 800px;
		margin-left: 10%;
	}	
	.alimentos{
		width: 250px;
	}	
	
	
    
}




@media (max-width: 767px){
	.banner_home{
   		width: 500px; 
		height: 250px;
	}
	.frase_dicas{
		font-size: 40px;
    }
    .img_frase{
        width: 300px;
    }
    .container_oferta{
		width: 767px;
		background-color: white;
	}
	.oferte{
   		margin-left: 10%;
		font-size: 30px;
		width: 300px;
	}
	.conteudo{
		width: 550px;
			
	}
	.informativo{
		font-size: 25px;
		width: 450px;
		margin-left: 20px;
		
	}	
	
	.alimentos{
		width: 200px;
			
	}
	.descricao{
		font-size: 15px;
		width: 100px;
		
	}
	.vermelho{
		font-size: 15px;
		width: 100px;
	}
	.img_home{
		width: 100px;
		height: 150px;
		margin:auto;
		
	}
	.espaco_comentario{
		display: flex;
		flex-direction: column;
	}
	.img_comentario{
		left: 12px;
		position: relative;
	}
	.img_comentario2{
		top: -200px;
		position: relative;
		left: 8px;
}
	.img_caixa{
		top:-390px;
		position: relative;
		
	}
}





@media (max-width: 767px){
	.banner_home{
   		width: 500px; 
		height: 250px;
	}
	.frase_dicas{
		font-size: 40px;
    }
    .img_frase{
        width: 300px;
    }
    .container_oferta{
		width: 767px;
		background-color: white;
	}
	.oferte{
   		margin-left: 10%;
		font-size: 30px;
		width: 300px;
	}
	.conteudo{
		width: 550px;
			
	}
	.informativo{
		font-size: 25px;
		width: 450px;
		margin-left: 20px;
		
	}	
	
	.alimentos{
		width: 200px;
			
	}
	.descricao{
		font-size: 15px;
		width: 100px;
		
	}
	.vermelho{
		font-size: 15px;
		width: 100px;
	}
	.img_home{
		width: 100px;
		height: 150px;
		margin:auto;
		
	}
	.espaco_comentario{
		display: flex;
		flex-direction: column;
	}
	.img_comentario{
		left: 12px;
		position: relative;
	}
	.img_comentario2{
		top: -200px;
		position: relative;
		left: 8px;
}
	.img_caixa{
		top:-390px;
		position: relative;
		
	}
}
